* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Leitura News', 'leitura-news', serif;
  font-size: 1.25rem;
  background: #DFDFDF;
}

a {
  color: #71D771;
}

h3 {
  margin-top: 0;
}

.wrap {
  max-width: 85rem;
  width: 90%;
  margin: auto;
}

.row {

}

header {
  display: block;
  overflow: hidden;
  padding: 4rem 0;
}

.site-title {
  font-size: 5rem;
  /*text-transform: uppercase;*/
  float: left;
  margin: 0;
  font-weight: bold;
}

.column {
  margin-bottom: 2%;
  background: #F4F1EC;
  padding: 1rem;
}

@media (min-width: 768px) {
  .column {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
}

.column:nth-of-type(3n) {
  margin-right: 0;
}

.artist {
  letter-spacing: 1px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: normal;
}

.column {
  text-transform: uppercase;
}

.column ol {
  font-weight: bold;
}

.top-list {
  background: #F4F1EC;
  display: block;
  margin-bottom: 4rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .top-list__image {
    max-width: 33%;
    float: left;
  }
}

.top-list__info {
  padding: 2rem;
  width: 66%;
  float: left;
}

.top-list__list {
  font-family: 'Nimbus Sans Condensed', 'nimbus-sans-condensed', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav {
  padding-top: 1rem;
}

nav a {
  text-decoration: none;
  color: inherit;
  clear: both;
  float: none;
  display: block;
}

@media (min-width: 1024px) {
  nav {
    with: 50%;
    float: right;
  }
}
