* {
  box-sizing: border-box;
}

body {
  font-family: 'Nimbus Sans Cond', karla, sans-serif;
  font-size: 1.375rem;
  background: #DFDFDF;
}

a {
  color: #71D771;
}

.wrap {
  max-width: 85rem;
  width: 90%;
  margin: auto;
}

.row {

}

.site-title {
  font-size: 5rem;
  text-transform: uppercase;
}

.column {
  margin-bottom: 2%;
  background: #F4F1EC;
  padding: 1rem;
}

@media (min-width: 768px) {
  .column {
    float: left;
    width: 32%;
    margin-right: 2%;
  }
}

.column:nth-of-type(3n) {
  margin-right: 0;
}

.artist {
  letter-spacing: 1px;
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  font-weight: normal;
}

.column {
  text-transform: uppercase;
}

.column ol {
  font-weight: bold;
}
